@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

body {
    background-color: #2a2e30;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 17.5rem;
    margin: 12.5rem auto;
    background-color: #555859;
    border-radius: 0.5rem;
}

section h3 {
    color: #999b9b;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
}

#moment {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 1.5rem 0.75rem;
    border-radius: 0.25rem;
    outline: none;
    border: none;
    color: black;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}