@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

body {
    background-color: #2A2E30;
}

.home-header {
    text-align: center;
    color: white;
}

#Layer_1 {
    position: fixed;
    right: 0;
    top: 0;
    width: auto;
    height: 60px;
    cursor: pointer;
}

section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.container {
    background-color: #555859;
    border-radius: 0.25rem;
    /* width: 139px;
    height: auto;
    /* margin: 0.5rem 0.5rem 0.4rem 0.5rem;
    padding: 1rem; */
    width: 8rem;
    padding: 2rem 1rem;
    margin: 0.5rem 0;
}

.container h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888A8A;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.2rem;
}

.close-button {
    width: 1.25rem;
    height: 1.25rem;
    background-color: #888A8A;
    cursor: pointer;
    border-radius: 1rem;
    padding: 0.2rem;
    margin-top: -1.25rem;
    margin-left: 6.5rem;
}

.close {
    margin-top: 0.20rem;
    height: 15px;
    width: 2px;
    margin-left: 9.2px;
    background-color: black;
    transform: rotate(45deg);
    Z-index: 1;
}

.cross {
    height: 15px;
    width: 2px;
    background-color: black;
    transform: rotate(90deg);
    Z-index: 2;
}

/* CSS till Home.jsx */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #2a2e30;
}

h1 {
    margin: 1rem 0;
}

h1,
h3 {
    text-align: center;
    color: #999B9B;
}

section {
    width: auto;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.form__input {
    margin: 0.7rem 0;
    outline: none;
    border: 1px solid #999B9B;
    background-color: transparent;
    border-radius: 4px;
    padding: 0.5rem;
    color: #999B9B;
    font-size: 1rem;
}

#create-button {
    background-color: transparent;
    padding: 0.75rem;
    margin: 1rem 0;
    color: #999B9B;
    border: 1px solid #999B9B;
    cursor: pointer;
    border-radius: 4px;
    transition: all 250ms;
}

#create-button:hover {
    background-color: #999B9B;
    color: #2a2e30;
}

input {
    width: 16rem;
}

#create-account {
    border-bottom: 0.5px solid gray;
}

#login-button {
    background-color: transparent;
    padding: 0.75rem;
    margin: 1rem 0;
    color: #999B9B;
    border: 1px solid #999B9B;
    cursor: pointer;
    border-radius: 4px;
    transition: all 250ms;
}

#login-button:hover {
    background-color: #999B9B;
    color: #2a2e30;
}

/* CSS till Home.jsx */