@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-sarif;
}

.application {
  min-height: 100vh;
  position: relative;
  background-color: #313131;
}

.camera {
  position: relative;
  width: 100vw;
}

.result {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  transition: 0.4s;
}

.result.hasPhoto {
  left: 0;
}

video {
  width: 100%;
  max-width: 100%;
  height: auto;

}

.phototaker {
  appearance: none;
  border: none;
  outline: none;

  padding: 8px 16px;
  background: linear-gradient(to right, #ff512f, #f09819);
  background-position: 0;
  background-size: 100%;
  color: white;
  font-size: 24px;
  font-weight: 700;
  transition: 5s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
}

.phototaker:hover {
  background-position: 200%;
}

.close-photo {
  position: absolute;
  bottom: 20px;
  left: 20px;

  appearance: none;
  border: none;
  outline: none;

  padding: 8px 16px;
  background: linear-gradient(to right, #ff512f, #f09819);
  background-position: 0;
  background-size: 100%;
  color: white;
  font-size: 24px;
  font-weight: 700;
  transition: 0.4s;
  cursor: pointer;
}

.close-photo:hover {
  background-position: 200%;
}

canvas {
  height: auto;
  width: 100vw;
}